.cofounders-container {
    display: flex;
}

.cofounder-info.left {
    padding-right: 10px;
    text-align: left;
}

.cofounder-info.right {
    padding-left: 10px;
    text-align: right;
}

.section-header {
    color: cornsilk;
}

.section-divider {
    height: 5px;
    margin-bottom: 35px;
    background-color: coral;
}
