:root {
    --main-container-width: 75%;
    --background-color: #454140;
    --text-color: #a79e84;
    --active-link-color: #7a3b2e;
    --link-color: #bd5734;
}

/* not too bad
    --text-color: #454140;
    --background-color: #a79e84;
    --active-link-color: #bd5734;
    --link-color: #7a3b2e;
*/

/* original
    --background-color: #111111
    --text-color: #AAAAAA
    --link-color: *ffffff
    --active-link-color: coral
*/

body {
    /*background-color: #111111;*/
    background-color: var(--background-color);
    /*color: #AAAAAA;*/
    color: var(--text-color);
    text-align: center;
    font-size: 17px;
    line-height: 1.5;
    font-family: "Open Sans";
    margin: 0;
}

a {
    text-decoration: none;
}

.sticky + .content-container {
    padding-top: 48px;
}

blockquote {
  /*background: #f9f9f9;*/
  border-left: 10px solid var(--link-color);
  text-align: left;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  /*color: #ccc;*/
  color: var(--link-color);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  /*display: inline;*/
  font-style: italic;
}

.header-top {
    padding: 10px;
    overflow: hidden;
    align-items: center;
}

.header-top a {
    font-size: 24px;
    /*color: #ffffff;*/
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.header-top .logo-title {
    margin-left: 10px;
}

.header-bottom {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.sticky {
    background: inherit;
    position: fixed;
    width: var(--main-container-width);
    z-index: 2;
    top: 0;
}

.header-right {
    margin-left: auto;
}

.section-selector-item {
    font-size: 20px;
    /*color: #ffffff;*/
    color: var(--link-color);
    margin: 10px;
}

.note {
    margin: 5px;
}

.signature {
    font-size: 0.8em;
}

.focused-letter {
    color: red;
    font-style: normal;
    font-size: 1.0em;
}

.main-container {
    max-width: var(--main-container-width);
    margin: auto;
    text-align: center;
    position: relative;
    background: inherit;
}

.section-selector-item:hover {
    color: coral;
    border-color: coral;
    border-bottom: 1px solid coral;
}

.section-selector-item:focus {
    /*color: coral;*/
    /*border-color: coral;*/
    color: var(--active-link-color);
    border-color: var(--active-link-color);
    border-bottom: 1px solid coral;
}

.copyright {
    font-size: 0.7em;
}

.cofounders-container {
    display: flex;
    font-size: 0.8em;
}

.cofounder-info.left {
    padding-right: 10px;
    text-align: left;
}

.cofounder-info.right {
    padding-left: 10px;
    text-align: right;
}

.section-header {
    color: var(--link-color);
}

.section-divider {
    height: 5px;
    margin-bottom: 35px;
    margin-top: 35px;
    background-color: var(--link-color);
}

@media only screen and (max-width: 768px) {
    :root {
        --main-container-width: 95%;
    }
}
