---
layout: default
title: Corporate
---

<div class="container">
  <div class="row">
    {% for person in site.data.corporate %}
      <div class="col-md-6 p-5 border">
        <h1>
          <span class="featurette-heading-2">{{ person.name }} | </span> <span class="featurette-heading-3">{{ person.title }}</span>
        </h1>
        {% include item-margin.html spaces=2 %}
        <p class="person-description">
          {{ person.description }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>