<!-- image view modal -->
<div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button type="button" class="btn-close btn-close-white btn-close-modal position-fixed top-0 end-0 p-3" data-bs-dismiss="modal" aria-label="Close"></button>

    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img class="img-fluid" src=""/>
            </div>
        </div>
    </div>
</div>