.featurette-divider {
    margin: 5rem 0;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

.featurette-heading-2 {
    font-weight: 200;
    line-height: 1.3;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .featurette-heading-2 {
        font-size: 30px;
    }
}

.featurette-heading-3 {
    font-weight: 150;
    line-height: 1.2;
    letter-spacing: -.01rem;
}

@media (min-width: 40em) {
    .featurette-heading-3 {
        font-size: 25px;
    }
}

.row-images {
    max-height: 360px;
}

// navbar
img.navbar-logo {
    width: 300px;
    height: auto;
}

.nav-link {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
}


.modal.show .modal-dialog-zoomed {
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    transition: transform .5s ease;
}

#imgModal .modal-content {
    background-color: rgba(0, 0, 0, 0.1);
}

#imgModal .modal-body {
    text-align: center;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 95%;
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}

// @media (min-width: 576px) {
//     .modal-dialog {
//         max-width: 95%;
//         margin: 1.75rem auto;
//     }
// }

.btn-close-modal {
    z-index: 1056;
}
.gallery-container img {
    cursor: pointer;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.8);
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.transparent-img-text {
    background: rgba(0, 0, 0, 0.6);
}


.transparent-bg-white {
    background: rgba(0, 0, 0, 0.8);
}

.img-preview {
    position: relative;
    --bs-gutter-x: 0;
}

.img-description {
    font-style: italic;
    position: absolute;
    bottom: 0px;
    right: 0;
    display: inline-block;
    width: fit-content;
}

.img-list-container {
    position: relative;
    display: inline-block;
}

.img-list-description {
    font-style: italic;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: fit-content;
    right: 0px;
}

.list-group-custom>.list-group-item {
    background-color: inherit;
}

.person-description {
    font-size: 1.4rem;
}

.section-description {
    font-weight: 400;
    line-height: 2.5rem;
}


// TEXT STYLING
.text-start {
    text-align: left !important;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-decoration-none {
    text-decoration: none !important;
  }
  
  .text-decoration-underline {
    text-decoration: underline !important;
  }
  
  .text-decoration-line-through {
    text-decoration: line-through !important;
  }
  
  .text-lowercase {
    text-transform: lowercase !important;
  }
  
  .text-uppercase {
    text-transform: uppercase !important;
  }
  
  .text-capitalize {
    text-transform: capitalize !important;
  }
  
  .text-wrap {
    white-space: normal !important;
  }
  
  .text-nowrap {
    white-space: nowrap !important;
  }
  
  /* rtl:begin:remove */
  .text-break {
    word-wrap: break-word !important;
    word-break: break-word !important;
  }
  
  /* rtl:end:remove */
  .text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-success {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-info {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-warning {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-danger {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-light {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-black {
    --bs-text-opacity: 1;
    color: #111 !important;
  }
  
  .text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-body {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
  }
  
  .text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
  }
  
  .text-black-50 {
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, 0.5) !important;
  }
  
  .text-white-50 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  
  .text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
  }
  
  .text-opacity-25 {
    --bs-text-opacity: 0.25;
  }
  
  .text-opacity-50 {
    --bs-text-opacity: 0.5;
  }
  
  .text-opacity-75 {
    --bs-text-opacity: 0.75;
  }
  
  .text-opacity-100 {
    --bs-text-opacity: 1;
  }

  // END TEXT STYLING