body {
}

.featurette-divider {
    margin: 5rem 0;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

.row-images {
    max-height: 360px;
}
