---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="lead">{{ page.description }}</p>
{{ content }}

<div class="row w-100 justify-content-center gallery-container img-preview">
  <img class="img-fluid" src="{{ page.preview_img }}"/>
  {% if page.preview_img_description %}
    <span class="img-description transparent-bg-white">
      {{ page.preview_img_description }}
    </span>
  {% endif %}
</div>

{% include item-margin.html %}
{% if page.before_details %}
  {{ page.before_details }}
{% endif %}

<hr>
<div class="row row-cols-lg-2 row-cols-sm-2 row-cols-1 gy-4">
  {% for img in page.images %}
  <div class="col gallery-container">
    <img class="img-fluid" src="{{ img }}"/>
  </div>
  {% endfor %}
</div>
